strong > em,
em > strong {
  background: hsl(196, 67%, 94%);
  border-radius: 3px;
  color: hsl(196, 67%, 44%);
  font-style: normal;
  padding: 0 4px;
  white-space: nowrap;
}
h5 {
  font-size: 1em;
  opacity: 0.7;
}
