strong > em,
em > strong {
  background: hsl(196, 67%, 94%);
  border-radius: 3px;
  color: hsl(196, 67%, 44%);
  font-style: normal;
  padding: 0 4px;
  white-space: nowrap;
}
h5 {
  font-size: 1em;
  opacity: 0.7;
}

.vananenud
    padding .1rem 1.5rem
    border-left-width .4rem
    border-left-style solid
    margin 1rem 0
    background-color #ddd
    border-color #aaa
    color:  #33
    opacity: 0.5;
  .vananenud-title
    font-weight 600
    margin-bottom -0.4rem 
    color: #333
    text-transform: uppercase
    
.oppekava
    padding .1rem 1.5rem
    border-left-width .4rem
    border-left-style solid
    margin 1rem 0
    background-color rgba(255,229,100,.3)
    border-color darken(#ffe564, 35%)
    color darken(#ffe564, 70%)
  .oppekava-title
    font-weight 600
    margin-bottom -0.4rem
    color darken(#ffe564, 50%)
    text-transform: uppercase
    
.probleem
    padding .1rem 1.5rem
    border-left-width .4rem
    border-left-style solid
    margin 1rem 0
    background-color #ffe6e6
    border-color darken(red, 20%)
    color darken(red, 70%)
  .probleem a
    color darken(red, 70%)
  .probleem-title
    font-weight 600
    margin-bottom -0.4rem
    color darken(red, 40%)
    text-transform: uppercase

.kordamiskusimused
    padding .1rem 1.5rem
    border-left-width .4rem
    border-left-style solid
    margin 1rem 0
    background-color #f3f5f7
    border-color #42b983
  